.header-nav{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-links{
    display: flex;
    gap: 36px;
}